<div class="tns tns-default mb-3" style="direction: ltr">
    <!--begin::Slider-->
    <div
        data-tns="true"
        data-tns-loop="true"
        data-tns-swipe-angle="false"
        data-tns-speed="2000"
        data-tns-autoplay="true"
        data-tns-autoplay-timeout="18000"
        data-tns-items="3"
        data-tns-center="true"
        data-tns-slide-by="true"
        data-tns-nav-container="#kt_slider_thumbnails"
        data-tns-nav-as-thumbnails="true"
        data-tns-prev-button="#kt_slider_prev"
        data-tns-next-button="#kt_slider_next"
    >
        <?php foreach($team as $each):?>
            <!--begin::Item-->
            <div class="text-center px-5 py-5">
                <img src="assets/media/stock/600x400/img-1.jpg" class="card-rounded mw-100" alt=""/>
            </div>
            <!--end::Item-->
        <?php endforeach?>
    </div>
    <!--end::Slider-->

    <!--begin::Slider button-->
    <button class="btn btn-icon btn-active-color-primary" id="kt_slider_prev">
        ...
    </button>
    <!--end::Slider button-->

    <!--begin::Slider button-->
    <button class="btn btn-icon btn-active-color-primary" id="kt_slider_next">
        ...
    </button>
    <!--end::Slider button-->
</div>

<div class="d-flex flex-center">
    <ul class="d-flex align-items-center list-unstyled gap-5 cursor-pointer">
        <li class="d-flex gap-3" id="kt_slider_thumbnails">
            <img src="assets/media/stock/600x400/img-1.jpg" class="w-50px rounded" alt=""/>
        </li>
    </ul>
</div>